<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./checkout_result.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="checkout-bg">
      <main class="checkout-result">
        <div class="checkout-message-box">
          <img
            src="https://cdn.zeplin.io/60b4513ed9fb1a1104419263/assets/C7FD235E-4BCE-4426-9A8B-E26AE5D189B0.svg"
            alt="success"
          />
          <h2>결제가 완료되었습니다.</h2>
        </div>
        <div class="pay-btn-box">
          <p class="pay-description">
            창을 닫고 이전 페이지로 돌아가 <br />
            주문을 완료해주세요.
          </p>
          <button class="primary-btn" onClick="window.close();">창 닫기</button>
        </div>
      </main>
      <img
        src="https://cdn.zeplin.io/60b4513ed9fb1a1104419263/assets/FC0E948E-E32E-4BD0-AA73-EAE6450F20A8.svg"
        alt="receipt"
      />
      <footer class="footer">
        <div class="footer_title">publ</div>
        <div class="footer_detail">
          상호명 : 키클롭스(주) | 소재지 : 서울특별시 성동구 뚝섬로317
          <br />
          사업자등록번호 : 115-87-00415 | 통신판매업번호 : 2019-서울성동-01388
        </div>
      </footer>
    </div>
  </body>
</html>
